.results {font-size: 10pt; font-family: arial; }
.form_login { font-size: 8pt; font-family: arial; background-color: #99CCFF }
.form_query { font-size: 10pt; font-family: arial; }
.list { color: black; font-size: 14pt; font-family: Arial;   }
.paleyellow { color: #FFFF99 }
.paleblue { color: #33CCFF}

#pageheader1  {

  top:0;
  left:0;
  position:absolute;
  padding:1%;
  margin-bottom: 1em

}

#pageheader2 {

  top:0;
  right:0;
  position:absolute;
  padding:1%;
  margin-bottom: 1em

}


#queryForm {
  
  top:1;
  position:relative;
  margin-top: 2em;

}
