.results {font-size: 10pt; font-family: arial; border: none; }
.form_login { font-size: 10pt; font-family: arial; background-color: #E3E3E3 }
.form_register { margin: 0px; padding: 0px; font-size: 10pt; font-family: arial; background-color: #E3E3E3 } 
.form_query { font-size: 10pt; font-family: arial; background-color: #E3E3E3 }
.list { color: black; font-size: 14pt; font-family: Arial;   }
.paleyellow { color: #FFFF99 }
.palegrey { color: #EFEFEF}
.errtext { color: red; font-size: 10pt }
.errtext_large { font-size: 16pt }
.validation_register { color: red }
.val_error { margin:0px; padding:0px; font-size: 10pt; font-family: arial; color: red; background-color: white; display: none; border:solid }
.tbl_hd { background-color: #E0E0E0; text-align: center }
.tbl_num1 { background-color: #D0D0D0; text-align: right }
.tbl_num2 { background-color: #E8E8E8; text-align: right }
.tbl_txt { text-align: left }
.tbl_hd_stock_sym { background-color: darkgrey; color: white; text-align: center }
.tbl_stock_sym { background-color: #D0D0D0; text-align: center }

/*
.tbl_hd_stock_sym_link { color: white; text-align: center }
*/

td {
  min-height: 20px;
}

#banner_image {
  border-width:0;

}

div {
  display:block;
  position:relative;
  float:left;
  border-style:none; 
}

#main {
  position:relative;
  width:100%;
  height:105px;
}

#header {
  width:100%;
  height:auto;
}

#banner  {
  margin: 5px;
  padding: 5px;
  float: left;
  top:0;
  left:0;
}

#stocklist_container {
  float:left

}

#login {
  float: right;
}

#query {
 float: left;
}

#sub_left_panel {
  float:left;
}

#logged_on {
  float: right;
}

#stocklist_div {


}
